{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/filipv-eth/move-docs">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Organize Communities</h2>
        <p>Movement DAO seeks to make sophisticated DAO models more accessible, building tools that can be used to quickly custom-tailor a wide array of DAO use-cases. Movement DAO helps architect the design of any community-governed Web3 Movement with positive impact in mind. <a href="https://gitbook.move.xyz/movement-dao-wiki-v2.0/introduction/communities">Learn More.</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Pool Capital</h2>
        <p>MOVE provides tools for continuous funding, including community fundraising tools, tokenomic models enabling sustainable treasury replenishment, and automated treasury yield. Pooled $MOVE-backed liquidity enables Movements to have turn-key DAO tokens with built-in stability. <a href="https://gitbook.move.xyz/movement-dao-wiki-v2.0/introduction/capital">Learn More.</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Compound Giving</h2>
        <p>The ecosystem was designed to compound impact. The Endowment, a network-wide shared treasury, supports the ecosystem and benefits Movements. The more successful Movements join, the bigger the Endowment and ecosystem-owned LP grows which enables Movements to make more positive change. <a href="https://gitbook.move.xyz/movement-dao-wiki-v2.0/introduction/compound-giving">Learn More.</a></p>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
